<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>HeaderSecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MarriageDataServelet</servlet-name>
        <servlet-class>org.nic.controller.MarriageDataServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentServelet</servlet-name>
        <servlet-class>org.nic.controller.AppointmentServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnquiryServelet</servlet-name>
        <servlet-class>org.nic.controller.EnquiryServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentDatesServlet</servlet-name>
        <servlet-class>org.nic.controller.AppointmentDatesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarriageAppointmentDatesServlet</servlet-name>
        <servlet-class>org.nic.controller.MarriageAppointmentDatesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>org.nic.controller.FileUploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MarriageDataServelet</servlet-name>
        <url-pattern>/addmarriagedetails</url-pattern>
        <url-pattern>/successMarriageNotice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentServelet</servlet-name>
        <url-pattern>/appointment</url-pattern>
        <url-pattern>/appointment_details</url-pattern>
        <url-pattern>/appointment_status</url-pattern>
        <url-pattern>/getsubdeed</url-pattern>
        <url-pattern>/getsubdeed_json</url-pattern>
        <url-pattern>/subdeedbydeed</url-pattern>
        <url-pattern>/getdeed_json</url-pattern>
        <url-pattern>/create_appointment</url-pattern>
        <url-pattern>/get_deeds</url-pattern>
        <url-pattern>/getsrooffice</url-pattern>
        <url-pattern>/file_upload_curl</url-pattern>
        <url-pattern>/egras_payment_response</url-pattern>
        <url-pattern>/egras_payment</url-pattern>
        <url-pattern>/egrasPayment</url-pattern>
        <url-pattern>/verify_challan</url-pattern>
        <url-pattern>/getCin</url-pattern>
        <url-pattern>/getChallanData</url-pattern>
        <url-pattern>/getChallan</url-pattern>
        <url-pattern>/getGrn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnquiryServelet</servlet-name>
        <url-pattern>/enquiry</url-pattern>
        <url-pattern>/enquiry_api</url-pattern>
        <url-pattern>/enquiry_api_demo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentDatesServlet</servlet-name>
        <url-pattern>/getAppointmentDates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarriageAppointmentDatesServlet</servlet-name>
        <url-pattern>/getmarriagedates</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/fileupload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <description>header and footer settings</description>
            <url-pattern>/WEB-INF/view/*</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
    <resource-ref>
        <description>Connection Pool</description>
        <res-ref-name>jdbc/epanjeeyan_online</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <filter>
        <filter-name>HeaderSecurityFilter</filter-name>
        <filter-class>org.apache.catalina.filters.HttpHeaderSecurityFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>org.nic.filter.SecurityFilter</filter-class>
    </filter>
</web-app>
